### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE - IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### IDE - Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDE - VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
logs/
*.log

### Environment ###
.env
